@font-face {
	font-family: DMSans;
	src: url(fonts/DM_Sans/DMSans-Regular.ttf);
}

@font-face {
	font-family: DMSans_Bold;
	src: url(fonts/DM_Sans/DMSans-Bold.ttf);
}

* {
	box-sizing: border-box;
}

html {
	height: 2530px;
	overflow-x: hidden;
}

body {
	margin: 40px;
	background: linear-gradient(180deg, #2F3136 14.58%, #198A89 40.62%, #0E7891 63.54%, #00629B 90.1%);
	color: white;

}

/* ---------- NAVBAR SECTION ----------*/
header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .6s;
    padding: .2vw 2vw;
    z-index: 1000000;
	background: linear-gradient(180deg, rgba(11, 98, 135, 0.7) 0%, rgba(73, 124, 184, 0.7) 100%);
	backdrop-filter: blur(4px);
	font-family: "DMSans";
}

header.sticky{
	width: 100%;
}

header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    transition: .6s;
    letter-spacing: 2px;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
	right: 4vw
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-transform: none;
    color: #fff;
    font-family: DMSans_bold;
    transition: .6s;
    text-decoration: none;
	font-size: 1.5vw;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(bg.jpg);
    background-size: cover;
}

.navbar {
    padding-bottom: 2vw;
}

a:hover{
    color: #67c4fa;
    text-decoration: underline;
}

header.sticky ul li a:hover{
    color: #00629B;
    text-decoration: none;
}

#nav-logo {
	width: 4vw;
	position:relative;
	top:.3vw;
}

/* ---------- ABOUT SECTION ----------- */
#about {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	height: 48vw;
	top: .5vw;
}

#about-title {
	width:60vw;
	left:3.4vw;

	font-family: DMSans_Bold;
	font-size: 6vw;
	text-align: center;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#about-back-title {
	position: absolute;
	top: 0;
	left: -.8%;
	z-index: -1;
	width: 100%;

	text-align: center;
	color: #456070;
}

#about-text {
	position: absolute;
	top: 17.5vw;
	left: -93px;
	width: 61vw;
	height: 25vw;

	background: rgba(28, 177, 175, 0.24);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
	border-radius: 43px;
}

#about-description {
	position: relative;
	left: 9%;
	font-size: 1.5vw;
	font-family: DMSans;
	margin-left: 2vw;
	margin-right: 15%;
	margin-top: 2.3vw;

	overflow-wrap: break-word;
}

#about-image {
	position:absolute;
	right:-15%;
	height: 50vw;
	width: 50vw;
}


/* ---------- EVENTS SECTION ---------- */
#events-title {
	font-family: DMSans_Bold;
	font-size: 20vw;
	text-align: center;

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#events-title::before {
	z-index: -1;
	position: absolute;
	left: -1.5%;
	width: 100%;

	content: "events";
	color: #33779E;
}

#events-weekly {
	margin-top: 20px;
	height: 60vw;

	text-align: center;
	font-family: DMSans;

	background: rgba(160, 201, 225, 0.24);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
	border-radius: 43px;
}

#weekly-container {
	height: 50%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#weekly-title { font-size:   8vw; }
#weekly-time  { font-size: 6.5vw; }

#events-socials {
	display: flex;
	flex-flow: column nowrap;
	margin-top: 40px;

	font-family: DMSans;

	background: rgba(160, 201, 225, 0.24);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	backdrop-filter: blur(4px);
	border-radius: 43px;
}

.card {
	margin: 20px 20px 0 20px;
	padding: 10px;
	border-radius: 10px;

	font-family: DMSans;
}

.card:last-child {
	margin-bottom: 20px;
}

.past   { background: #4A4A4E; }
.future { background: #18605F; }

.card-title-row {
	display: flex;
	flex-flow: row nowrap;
	align-items:flex-start;
}

.card-title {
	width: 50%;

	font-size: 4.5vw;
}

.card-date {
	width: 50%;
	text-align: right;
	font-size: 4vw;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/* for phones */
[class*="col-"] {
	float: left;
	width: 100%;
}

.cardDescription {
	position: relative;
	left: 5%;
	font-size: 2vw;
}

/* for tablets */
@media only screen and (min-width: 600px) {
	.col-s-1  { width:  8.33%; }
	.col-s-2  { width: 16.66%; }
	.col-s-3  { width:    25%; }
	.col-s-4  { width: 33.33%; }
	.col-s-5  { width: 41.66%; }
	.col-s-6  { width:    50%; }
	.col-s-7  { width: 58.33%; }
	.col-s-8  { width: 66.66%; }
	.col-s-9  { width:    75%; }
	.col-s-10 { width: 83.33%; }
	.col-s-11 { width: 91.66%; }
	.col-s-12 { width:   100%; }
}

/* for laptops+ */
@media only screen and (min-width: 768px) {
	.col-1  { width:  8.33%; }
	.col-2  { width: 16.66%; }
	.col-3  { width:    25%; }
	.col-4  { width: 33.33%; }
	.col-5  { width: 41.66%; }
	.col-6  { width:    50%; }
	.col-7  { width: 58.33%; }
	.col-8  { width: 66.66%; }
	.col-9  { width:    75%; }
	.col-10 { width: 83.33%; }
	.col-11 { width: 91.66%; }
	.col-12 { width:   100%; }

	body {
		margin-right: 0;
	}

	#events-title {
		font-size: 10vw;
	}

	#events-weekly {
		margin-left: 5%;
		height: 40vh;
		width: 90%;
	}

	#weekly-container {
		margin-top: 20px;
	}

	#weekly-title {
		margin-top: 80px;
		font-size: 4.5vw;
	}

	#weekly-time {
		font-size: 3vw;
	}

	#events-socials {
		margin-top: 6.6%;
		margin-left: 6.6%;
		flex-flow: row wrap;
		border-radius: 43px 0 0 43px;
	}

	.card {
		width: 44%;
		margin: 4% 0 0 4%;
		min-height: 100px;
	}

	.card:nth-last-child(2) { margin-bottom: 4%; }
	.card:last-child { margin-bottom: 4%; }

	.card-title {
		width: 65%;
		font-size: 2.25vw;
	}

	.card-date {
		width: 35%;
		font-size: 1.6vw;
	}

	.card-description {
		margin-top: 20px;
		font-size: 1.5vw;
	}
}
